#footer{
    margin-top: 100%;
}
#footer>ul{
    list-style: none;
    /* display: flex; */
}
#footer>ul>li{
    margin: 10px;
    /* border: 1px solid black; */
    padding: 10px;
}
#footer>ul>li:hover{
    background-color: bisque;
}
#copy{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
    font-size: 20px;
}